.button-contained-primary {
  background-color: $color-btn-primary-default;
  color: #fff;

  &:hover {
    background-color: $color-btn-primary-hover;
  }
}

.button-outline-primary {
  background-color: transparent;
  color: $color-btn-primary-default;
  border: 2px solid $color-btn-primary-default;

  &:hover {
    color: $color-btn-primary-hover;
    border: 2px solid $color-btn-primary-hover;
  }
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    box-shadow: $shadow-dark1;
  }

  &:active {
    box-shadow: unset;
  }
}

.btn-error {
  background-color: #dc3545;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: #c82333;
  }
}